# Servidor FiveM
SERVER_IP=127.0.0.1
SERVER_PORT=30120

# Discord Rich Presence
DISCORD_APPLICATION_ID=
DISCORD_RICH_PRESENCE=true
DISCORD_LARGE_IMAGE_KEY=dalton_logo
DISCORD_LARGE_IMAGE_TEXT=Dalton Life RP
